<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Store{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Include additional CSS or scripts as needed -->
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <!-- Add more navigation links here -->
                <!-- Example: <li><a href="{% url 'all_categories' %}">Categories</a></li> -->
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- The content of individual pages will be inserted here -->
        {% endblock %}
    </main>

    {% include 'footer.html' %}
    {% include 'menu.html' %}
    {% include 'pagination.html' %}



    <footer>
        <p>&copy; 2024 My Store. All rights reserved.</p>
    </footer>

    <!-- Include additional scripts or JavaScript libraries if needed -->
    {% block extra_scripts %}{% endblock %}
</body>
</html>
