{% extends 'base.html' %}

{% block title %}{{ product.name }} - My Store{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>{{ product.name }}</h2>
            <p>Description: {{ product.description }}</p>
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h3>Reviews</h3>
            {% if reviews %}
                {% for review in reviews %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Rating: {{ review.rating }}</h5>
                        <p class="card-text">Comment: {{ review.comment }}</p>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>No reviews available.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
